@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.13 0.04 265);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.21 0.03 265);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: #000;
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.98 0.00 248);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
  0% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
        }
  25% {
    background-position: 50% 100%;
    transform: rotate(5deg) scale(1.1);
        }
  50% {
    background-position: 100% 50%;
    transform: rotate(-3deg) scale(0.95);
        }
  75% {
    background-position: 50% 0%;
    transform: rotate(3deg) scale(1.05);
        }
  100% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
        }
    }
  --animate-shiny-text: shiny-text 8s infinite
;
  @keyframes shiny-text {
  0%, 90%, 100% {
    background-position: calc(-100% - var(--shiny-width)) 0;
    }
  30%, 60% {
    background-position: calc(100% + var(--shiny-width)) 0;
    }
  }}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="20" cy="20" r="18" fill="white" filter="url(%23blur)"/></svg>') center / 0 no-repeat;
  animation: scale 1s;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}
.dark::view-transition-new(root) {
  animation: scale 1s;
}

@keyframes scale {
  to {
    mask-size: 200vmax;
  }
}

html {
  scroll-behavior: smooth;
}

body {
      font-family: "Space Grotesk", sans-serif;
}

html,
body {
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1), color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      /* transition: background-color 0.4s ease, color 0.4s ease; */
}

p,li {
    font-family: "Plus Jakarta Sans", sans-serif;

}
button {
  cursor: pointer;
}

::selection {
  color: white;
}

.urbanist-font {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: #84cc16;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.animate-blink {
  animation: blink 1s step-start infinite;
}

/* loader animation */
.glitch-text {
  position: relative;
  color: #3b82f6;
  text-shadow: 
  -2px -2px 0 #60A5FA,
  2px 2px 0 #1d4ed8;
}

.glitch-text::before,
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: #fff;
  background: black;
  clip: rect(0, 900px, 0, 0);
}

.glitch-text::before {
  animation: glitchTop 2s infinite linear alternate-reverse;
  color: #60A5FA;
}
.glitch-text::after {
  animation: glitchBot 2s infinite linear alternate-reverse;
  color: #1d4ed8;
}

@keyframes glitchTop {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0);
  }
  10% {
    clip: rect(0, 9999px, 5px, 0);
    transform: translate(-3px, -2px);
  }
  20% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(3px, 1px);
  }
  100% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0);
  }
}

@keyframes glitchBot {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0);
  }
  10% {
    clip: rect(0, 9999px, 5px, 0);
    transform: translate(3px, 1px);
  }
  20% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(-3px, -1px);
  }
  100% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0);
  }
}

/* .txt-shad {
  text-shadow: rgb(255, 0, 87) 2px 2px 0px, rgb(60, 255, 0) 4px 4px 0px;
} */

.txt-shadow {
  text-shadow:1px 1px 0px oklch(0.488 0.243 264.376),
    2px 2px 0px oklch(0.696 0.17 162.48)
    /* 6px 6px 0px var(--chart-3); */
}



.animated-avatar {
  transition: transform 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
  transform-origin: center;
}

.animated-avatar:hover {
        transform: perspective(1000px) rotateX(8deg) rotateY(8deg) scale3d(1.03, 1.03, 1.03);
}

.pulse-anim {

  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0891b2;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: ping 2s infinite;
}
.pulse-anim:hover {
  animation: none;
}

.tri-shape {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid #059669;
}


@-webkit-keyframes ping {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes ping {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes shimmer {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

.animate-shimmer {
  animation: shimmer 2.5s infinite linear;
}

.bg-gradient-conic {
  background-image: conic-gradient(at bottom right, #0ca676, #50c878, #a8e600);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* .my-svg-animation {
  margin-left: 30px;
} */